<%- include("./partials/header") %> <%- include("./partials/navbar") %>

<div class="overflow-hidden">
  <div class="flex items-center gap-2 pt-10 px-10">
    <div class="h-12 w-12 rounded-lg bg-zinc-500 overflow-hidden">
      <img
        class="img w-full h-full object-cover"
        src="/images/<%= user.image%>"
        alt=""
      />
    </div>
    <!-- <form
      class="form hidden"
      action="/users/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <input class="input" type="file" name="image" />
    </form> -->

    <h1 class="text-xl">Hey,<%= user.name %></h1>
  </div>
  <div class="mt-5 ml-8 flex gap-5">
    <a href="/posts/createpost/<%= user._id %>">Create Expense</a>
    <a href="/posts/show">show Expense</a>
  </div>
</div>

<!-- <script>
  const img = document.querySelector('.img');
  const form = document.querySelector('.form');
  const input = document.querySelector('.input');

  img.addEventListener('click', () => {
    input.click();
  });

  input.addEventListener('change', () => {
    form.submit();
  });
</script> -->
<%- include("./partials/footer") %>
